#influenced by https://github.com/nextcloud/all-in-one/blob/main/reverse-proxy.md

# https://nginx.org/en/docs/http/websocket.html
map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}


# Nextcloud
server {
    listen       80;
    listen       [::]:80;
    server_name nextcloud {{ NEXTCLOUD_FQDN }};
  
    access_log /var/log/nginx/nextcloud.80.{{ NEXTCLOUD_FQDN }}.access.log;
    error_log /var/log/nginx/nextcloud.80.{{ NEXTCLOUD_FQDN }}.error.log;
  
    return 301 https://{{ NEXTCLOUD_FQDN }}$request_uri;
  
  }
  
  server {
    listen       443 ssl http2;
    listen       [::]:443 ssl http2;
    server_name {{ NEXTCLOUD_FQDN }};
    #ssl on; # Deprecated
    ssl_certificate {{ NEXTCLOUD_SSL_CERT_PATH }};
    ssl_certificate_key {{ NEXTCLOUD_SSL_KEY_PATH }};
    
  
    access_log /var/log/nginx/nextcloud.443.{{ NEXTCLOUD_FQDN }}.access.log;
    error_log /var/log/nginx/nextcloud.443.{{ NEXTCLOUD_FQDN }}.error.log;
  
    location / {
      proxy_pass "http://localhost:{{ NEXTCLOUD_HTTPS_PORT }}";
      proxy_set_header Host $http_host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
    }
  
    #location /whiteboard/ {
    #  	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    #    proxy_set_header Host $host;
    #    
    #    proxy_pass "http://localhost:{{ NEXTCLOUD_APP_WHITEBOARD_PORT }}";
    #    
    #    proxy_http_version 1.1;
    #    proxy_set_header Upgrade $http_upgrade;
    #    proxy_set_header Connection "upgrade";
    #}

  }


  # Nextcloud-Whiteboard
  server {
    listen       80;
    listen       [::]:80;
    server_name nextcloud-whiteboard {{ NEXTCLOUD_APP_WHITEBOARD_FQDN }};
  
    access_log /var/log/nginx/nextcloud-whiteboard.80.{{ NEXTCLOUD_APP_WHITEBOARD_FQDN }}.access.log;
    error_log /var/log/nginx/nextcloud-whiteboard.80.{{ NEXTCLOUD_APP_WHITEBOARD_FQDN }}.error.log;
  
    return 301 https://{{ NEXTCLOUD_APP_WHITEBOARD_FQDN }}$request_uri;
  
  }
  
  server {
    listen       443 ssl http2;
    listen       [::]:443 ssl http2;
    server_name {{ NEXTCLOUD_APP_WHITEBOARD_FQDN }};
    #ssl on; # Deprecated
    ssl_certificate {{ NEXTCLOUD_APP_WHITEBOARD_SSL_CERT_PATH }};
    ssl_certificate_key {{ NEXTCLOUD_APP_WHITEBOARD_SSL_KEY_PATH }};
    
  
    access_log /var/log/nginx/nextcloud-whiteboard.443.{{ NEXTCLOUD_APP_WHITEBOARD_FQDN }}.access.log;
    error_log /var/log/nginx/nextcloud-whiteboard.443.{{ NEXTCLOUD_APP_WHITEBOARD_FQDN }}.error.log;
  
    location / {
      proxy_pass "http://localhost:{{ NEXTCLOUD_APP_WHITEBOARD_PORT }}";
      proxy_set_header Host $http_host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
    }
  
  }