CREATE USER {{ NEXTCLOUD_POSTGRES_ENV_POSTGRES_USER }} WITH PASSWORD '{{ NEXTCLOUD_POSTGRES_ENV_POSTGRES_PASSWORD }}' CREATEDB;
CREATE DATABASE {{ NEXTCLOUD_POSTGRES_ENV_POSTGRES_DB }} TEMPLATE template0 ENCODING 'UTF8';
ALTER DATABASE {{ NEXTCLOUD_POSTGRES_ENV_POSTGRES_DB }} OWNER TO {{ NEXTCLOUD_POSTGRES_ENV_POSTGRES_USER }};
GRANT ALL PRIVILEGES ON DATABASE {{ NEXTCLOUD_POSTGRES_ENV_POSTGRES_DB }} TO {{ NEXTCLOUD_POSTGRES_ENV_POSTGRES_USER }};
GRANT ALL PRIVILEGES ON SCHEMA public TO {{ NEXTCLOUD_POSTGRES_ENV_POSTGRES_USER }};
